* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parentbox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.box {
  background: white;
  background-image: url("https://picsum.photos/1200/800");
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  color: blue;
  display: flex;
  justify-content: space-evenly;  
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.box h1 {
  font-size: 2rem;
  margin-bottom: 200px;
}

.box p {
  font-size: 1em;
}